
#dico-log-container {
  background: #000;
}
#dico-log {
  backgroud:#000;
}

.chatlog {
    
    .chatlog__message-group {
        position:relative;
        display: flex;
        margin: 0 10px;
        padding: 15px 0;
        border-top: 1px solid;
        background-color:#fff;
        .btn-remove {
            position:absolute;
            right:0px
            top:0px
            
            border-radius: 50%;
            border:1px solid lightgray;
        }
        .chatlog__author-avatar-container {
            width: 35px;
            height: 35px;
            .chatlog__author-avatar { 
                height:35px;
                max-width:35px !important;
                border-radius:50%;
                border:1px solid lightgray;
            }
        }
        margin:5px 0px;
        p {
            margin:0
        }

        .chatlog__messages {
            flex: 1;
            min-width: 50%;
            margin-left: 12px;

            .chatlog__author-name {
                color: #2f3136;
            }
        }
    }
}

/* === CHATLOG === */

.chatlog {
    max-width: 100%;
    margin-bottom: 24px;
}

.chatlog__message-group {
    display: flex;
    margin: 0 10px;
    padding: 15px 0;
    border-top: 1px solid;
}

.chatlog__author-avatar-container {
    flex: 0;
    width: 40px;
    height: 40px;
}

.chatlog__author-avatar {
    border-radius: 50%;
    border:1px solid lightgray;
    height: 40px;
    max-width: 40px !important;
}

.chatlog__messages {
    flex: 1;
    min-width: 50%;
    margin-left: 20px;
}

.chatlog__author-name {
    font-size: 1em;
    font-weight: 500;
}

.chatlog__timestamp {
    display:none;
    margin-left: 5px;
    font-size: .75em;
}

/* 
.chatlog__timestamp::before {
  content: '\f017';
  font-family: FontAwesome;
  margin-right: 4px;
}
 */

.chatlog__content {
    padding-top: 3px;
    font-size: .8375em;
    word-wrap: break-word;
}

/*.markdown :first-child {
    margin-top: -1em;
}*/

.chatlog__attachment {
    margin: 5px 0;
}

.chatlog__attachment-thumbnail {
    max-width: 50%;
    max-height: 500px;
    border-radius: 3px;
}

.chatlog__embed {
    display: flex;
    max-width: 520px;
    margin-top: 5px;
}

.chatlog__embed-color-pill {
    flex-shrink: 0;
    width: 4px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.chatlog__embed-content-container {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    border: 1px solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.chatlog__embed-content {
    width: 100%;
    display: flex;
}

.chatlog__embed-text {
    flex: 1;
}

.chatlog__embed-author {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.chatlog__embed-author-icon {
    width: 20px;
    height: 20px;
    margin-right: 9px;
    border-radius: 50%;
}

.chatlog__embed-author-name {
    font-size: .875em;
    font-weight: 600;
}

.chatlog__embed-title {
    margin-bottom: 4px;
    font-size: .875em;
    font-weight: 600;
}

.chatlog__embed-description {
    font-weight: 500;
    font-size: 14px;
}

.chatlog__embed-fields {
    display: flex;
    flex-wrap: wrap;
}

.chatlog__embed-field {
    flex: 0;
    min-width: 100%;
    max-width: 506px;
    padding-top: 10px;
}

.chatlog__embed-field--inline {
    flex: 1;
    flex-basis: auto;
    min-width: 150px;
}

.chatlog__embed-field-name {
    margin-bottom: 4px;
    font-size: .875em;
    font-weight: 600;
}

.chatlog__embed-field-value {
    font-size: .875em;
    font-weight: 500;
}

.chatlog__embed-thumbnail {
    flex: 0;
    margin-left: 20px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 3px;
}

.chatlog__embed-image-container {
    margin-top: 10px;
}

.chatlog__embed-image {    
    max-width: 500px;
    max-height: 400px;
    border-radius: 3px;
}

.chatlog__embed-footer {
    margin-top: 10px;
}

.chatlog__embed-footer-icon {
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.chatlog__embed-footer-text {
    font-weight: 500;
    font-size: .75em;
}

.chatlog__reactions {
    display: flex;
    background-color: rgba(79,
 84,
 92,
 0.06);
    padding:.2em;
}

.chatlog__reaction {
    display: flex;
    align-items: center;
    margin: 6px 2px 2px 2px;
    padding: 3px 6px;
    border-radius: 3px;
}

.chatlog__reaction-count {
    min-width: 9px;
    margin-left: 6px;
    font-size: .875em;
}

.chatlog__bot-tag {
    margin-left: 0.3em;
    background: #7289da;
    color: #ffffff;
    font-size: 0.625em;
    padding: 1px 2px;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: -.2em;
}




    